In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv('data/train.csv')

In [3]:
descriptor_df = pd.DataFrame(train.isnull().sum())

In [4]:
descriptor_df
# index is fields
# 0 is number of null values

               0
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age          177
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin        687
Embarked       2

In [5]:
train.Age.shape[0]

891

In [66]:
descriptor_df[1] = round(descriptor_df[0]/train.shape[0],2)*100
# 1 is percentage of null values

In [67]:
isNumerical=[]
for column in train.columns:
    if train[column].dtype == 'int64' or train[column].dtype == 'float64':
        isNumerical.append(1)
    else:
        isNumerical.append(0)

In [68]:
descriptor_df[2]=isNumerical

In [69]:
descriptor_df
# 2 is the field numerical or not

               0     1  2
PassengerId    0   0.0  1
Survived       0   0.0  1
Pclass         0   0.0  1
Name           0   0.0  0
Sex            0   0.0  0
Age          177  20.0  1
SibSp          0   0.0  1
Parch          0   0.0  1
Ticket         0   0.0  0
Fare           0   0.0  1
Cabin        687  77.0  0
Embarked       2   0.0  0

In [ ]:
from scipy.stats import shapiro

In [ ]:

def checkDistribution(series):
    if abs(series.skew())<0.5:
        return "normal"
    else:
        if series.shape[0]<5000:

In [70]:
for feature in descriptor_df.index:
    if descriptor_df[1][feature]>30:
        train.drop(feature,axis=1,inplace=True)
        descriptor_df.drop(feature,axis=0,inplace=True)
        continue
    if descriptor_df[2][feature]==1:  # Is numerical
        if descriptor_df[1][feature]>5:
            #knn
            continue
        else:
            if checkDistribution(train[feature]) == 'normal':
                #fill with mean
                continue
            else:
                #fill with median
                continue
    else:        # Is categorical
        if descriptor_df[1][feature]>5:
            #knn
            continue
        else:
            # fill with mode
            continue

In [71]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [72]:
descriptor_df

               0     1  2
PassengerId    0   0.0  1
Survived       0   0.0  1
Pclass         0   0.0  1
Name           0   0.0  0
Sex            0   0.0  0
Age          177  20.0  1
SibSp          0   0.0  1
Parch          0   0.0  1
Ticket         0   0.0  0
Fare           0   0.0  1
Embarked       2   0.0  0